/* General rules */
* {
  /* border: 1px solid black; */
}

section {
  min-height: 100px;
}

.grey {
  background-color: rgb(243, 245, 249);
}

.blue {
  background: rgb(0,42,120);
  background: linear-gradient(0deg, rgba(0,42,120,1) 0%, rgba(0,69,194,1) 100%);
}

/* Header */



  .navbar-brand > img {
    max-width: 100%;
  }

/* Jumbotron */
#jumbo {
  background-image: url("../img/home.jpg");
}

  #jumbo .row div:first-child {
    color: white;
  }

  #jumbo .row div:last-child {
    background-color: white;
    border-radius: 5px;
  }

/* Deploy and scale */
#deploy .row a {
  display: block;
  color: grey;
  border-left: 2px solid lightgrey;
  padding: 5px;
}

/* Designed for developers */
#carousel-example-generic {
  background: linear-gradient(0deg, rgba(243, 245, 249, 1) 0%, rgba(243, 245, 249, 1) 100%);
}

/* Footer */
footer {
  background-color: rgb(3, 28, 78);
}
