* {
  border: 1px solid black;
}

section {
  background-color: purple;
  min-height: 100px;
}

.row > div {
  min-height: 100px;
}

/* Header */



  .navbar-brand > img {
    max-width: 100%;
  }

/* Jumbotron */
#jumbo {
  background-image: url("../img/home.jpg");
}

  #jumbo .row div:first-child {
    color: white;
  }

  #jumbo .row div:last-child {
    background-color: white;
    border-radius: 5px;
  }
