/* General rules */
* {
  /* border: 1px solid black; */
}

section {
  padding: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h6 {
  font-size: 14px;
}

.littletxt {
  font-size: 13px;
}

  /* Backgrounds */
  .grey {
    background-color: rgb(243, 245, 249);
  }

  .blue {
    background: rgb(0,42,120);
    background: linear-gradient(0deg, rgba(0,42,120,1) 0%, rgba(0,69,194,1) 100%);
  }

  /* Text color */
  .white {
    color: white;
  }

  .bluetxt {
    color: rgb(3, 28, 78);
  }

  .lbluetxt {
    color: rgb(36, 133, 253);
  }

  .greytxt {
    color: lightgrey;
  }

/* Header */
#header {
  font-weight: 500;
  font-size: 14px;
}

  .navbar-header .navbar-brand {
    padding: 10px;
    margin-right: 90px;
  }

    @media all and (max-width: 1190px){
      .navbar-header .navbar-brand {
        margin-right: 0;
      }
    }

  .navbar-header .navbar-brand img {
    max-height: 100%;
  }

  .navbar {
    margin-bottom: 0;
  }
  .navbar-default {
    background-color: white;
  }

  .navbar-default .navbar-nav>li>a {
    color: rgb(3, 28, 78);
  }

  .navbar-default .btn.btn-default.lbluetxt {
    border: 1px solid rgb(36, 133, 253);
    margin-top: 9px;
  }

/* Jumbotron */
#jumbo {
  background-image: url("../img/home.jpg");
  padding: 70px;
}

  #jumbo .container {
    padding: 0 30px;
  }

  #jumbo h1 {
    font-size: 58px;
  }

  #jumbo .row div:first-child p {
    font-size: 20px;
  }

  #jumbo .row div:last-child {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
  }

  #jumbo .btn.btn-primary.btn-lg.btn-block {
    background-color: rgb(36, 133, 253);
    border-color: rgb(36, 133, 253);
  }

  #jumbo .btn.btn-default.btn-lg.btn-block {
    box-shadow: 1px 1px 2px 0px rgba(148,148,148,1);
  }

    #jumbo .btn.btn-default.btn-lg.btn-block > img {
      max-width: 5%;
    }

  #jumbo .form-control {
    margin-bottom: 10px;
  }

/* Partners */
#partners h5 {
  color: slategrey;
}

/* Deploy and scale */
#deploy .row a {
  display: block;
  color: grey;
  border-left: 2px solid lightgrey;
  padding: 5px;
}

/* Designed for developers */
#carousel-example-generic {
  background: linear-gradient(0deg, rgba(243, 245, 249, 1) 0%, rgba(243, 245, 249, 1) 100%);
}

  /* Carousel */
  .carousel.slide .item {
    padding: 0 150px;
  }

  .carousel.slide .item img {
    margin: auto;
  }

  .carousel-control.right, .carousel-control.left {
    background-image: none;
  }

  .carousel-control {
    color: rgb(3, 28, 78);
    opacity: inherit;
  }

  .carousel-indicators {
  }

  .carousel-indicators li {
    border-color: rgb(36, 133, 253);
  }

  .carousel-indicators .active {
    background-color: rgb(36, 133, 253);
  }

/* 12 Regions */
.list-group-item {
  background-color: rgba(255, 0, 0, 0);
  border-left: none;
  border-right: none;
}

  .list-group-item:first-child, :last-child {
    border: none;
  }

  .list-group-item p {
    display: inline-block;
  }

  .list-group-item a {
    color: turquoise;
  }

/* Development teams love */
/* Carousel */
.rockerbox {
  background-color: white;
  padding: 70px 0;
}

  .quote {
    color: dimgrey;
    font-size: 25px;
    padding: 20px 0 15px;
  }

  .rockerbox > img {
    max-width: 50%;
    margin: auto;
  }


/* Footer */
footer {
  background-color: rgb(3, 28, 78);
  padding: 40px;
}
